:root{
    --naranja: #FF8600;
    --azulOscuro: #0D1A2A;
    --azulMedio: #273C4D;
    --azulClaro: #7A9AAF;
    --grisClaro: #D2D3CE;

}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}
body,button, a {
    font-family: 'Rubik', sans-serif;
    line-height: 24px;
}
section {
    padding: 30px 50px;
    min-height: 450px;
}
section h2 {
    color: var(--azulOscuro);
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.jumbotron {
    width: 100%;
    height: 100vh;
    background-image: url('./assets/img/Backpack\ hero\ bg.jpg');
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 90% 95%;
    color: #fff;   
}
.jumbotron a {
    color: #fff;
    font-size: 20px;
}
.jumbotron a:hover {
    color: var(--naranja);
}

.jumbotron .contenedor {
    width: 100%;
    height: 100%;
    background: rgb(13,26,42);
    background: linear-gradient(45deg, rgba(13,26,42,.9) 0%, rgba(42,60,77,.8) 46%, rgba(122,154,175,.7) 82%);
    padding: 30px 50px;
}


/*  --- --- --- MENU --- --- --- */
.jumbotron .contenedor .menu-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.jumbotron .contenedor .menu-superior .logo{
    width: 80px;
}

.jumbotron .contenedor .menu-superior .logo img {
    width: 100%;
    cursor: pointer;
}

.jumbotron .contenedor .menu-superior .logo img:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.jumbotron .contenedor .menu-superior .navegacion-hamburguesa .enlaces,
.jumbotron .contenedor .menu-superior .fijos ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jumbotron .contenedor .menu-superior .navegacion-hamburguesa .enlaces li,
.jumbotron .contenedor .menu-superior .fijos ul li {
    display: block;
    margin: 0 10px;
    text-transform: uppercase;
}

.jumbotron .contenedor .menu-superior .navegacion-hamburguesa .enlaces li:hover,
.jumbotron .contenedor .menu-superior .fijos ul li:hover{
    padding-bottom: 2px;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.jumbotron .contenedor .menu-superior .navegacion-hamburguesa .burger{display: none;}

/*  --- --- --- MENU --- --- --- */ /*  */


/* --- --- --- PRODUCTO PRINCIPAL --- --- --- */
.jumbotron .contenedor .producto-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.jumbotron .contenedor .producto-principal .texto-producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
.jumbotron .contenedor .producto-principal .imagen-producto {
    width: 50%;
    background-image: url('https://www.seekpng.com/png/full/329-3293514_circle-white-whitecircle-tumblr-white-circle-tumblr-png.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.jumbotron .contenedor .producto-principal .imagen-producto img {
    width: 133%;
    vertical-align: top;
    margin-left: -90px;
    filter: drop-shadow(3px 30px 15px #000);
    -webkit-filter: drop-shadow(3px 30px 15px #000);
}


.jumbotron .contenedor .producto-principal .texto-producto h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.jumbotron .contenedor .producto-principal .texto-producto h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.jumbotron .contenedor .producto-principal .texto-producto p {
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 20px;
}

.jumbotron .contenedor .producto-principal .texto-producto button {
    border: 2px solid #fff;
    width: 40%;
    background: transparent;
    padding: 14px 14px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.jumbotron .contenedor .producto-principal .texto-producto button:hover {
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    background-color: var(--naranja);
}

/* --- --- --- PRODUCTO PRINCIPAL --- --- --- */

/* --- --- --- CATALOGO --- --- ---  */


section.catalogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--azulClaro);
    color: #fff;
}

section.catalogo h2 {
    margin-top: -70px;
}



.catalogo .enlaces-catalogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.catalogo .enlaces-catalogo .producto{
    min-width: 20%;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
}
.catalogo .enlaces-catalogo .producto h3 {
    background-color: var(--azulOscuro);
    padding: 10px 15px;
    box-shadow: 4px 4px 5px #000;
    cursor: pointer;
    border: 1px solid var(--azulClaro);
    margin-bottom: 15%;
}

.catalogo .enlaces-catalogo .producto h3:hover {
    background-color: var(--naranja);
    border: none;
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
}

.catalogo .enlaces-catalogo #p1 {
    background-image: url('./assets/img/marcas_ropa.png');
}
.catalogo .enlaces-catalogo #p2 {
    background-image: url('./assets/img/mochila-hombre.jpg');
}
.catalogo .enlaces-catalogo #p3 {
    background-image: url('./assets/img/mochila-mujer.jpg');
}
.catalogo .enlaces-catalogo #p4 {
    background-image: url('./assets/img/mochila-niños.jpg');
}
.catalogo .enlaces-catalogo #p5 {
    background-image: url('./assets/img/accesorios.jpg');
}


/* --- --- --- CATALOGO --- --- ---  */




/* --- --- --- ACERCA DE --- --- --- */
section.acerca {
    background-color: var(--azulOscuro);
    color: #fff;
}

.acerca h2 {
    color: #fff;
}

/* --- --- --- ACERCA DE --- --- --- */



/* --- --- --- BLOG --- --- --- */

section.blog {
    background-color: var(--azulClaro);
}

.blog .contenedor-blog {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.blog .contenedor-blog article {
    width: 28%;
    height: auto;
    background-color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 4px 6px 14px 3px rgba(0, 0, 0, 0.75);

}

.blog .contenedor-blog article .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.blog .contenedor-blog article .contenedor .imagen {
    width:100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
}

.blog .contenedor-blog article #img-1 {
    background-image: url('./assets/img/mochila-objetos.jpg');
}

.blog .contenedor-blog article #img-2 {
    background-image: url('./assets/img/mochila-limpia.webp');
}

.blog .contenedor-blog article #img-3 {
    background-image: url('./assets/img/mochilas-mas-vendidas.jpg');
}

.blog .contenedor-blog article .contenedor .cuerpo {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.blog .contenedor-blog article .contenedor .cuerpo .titulo {
    color: var(--azulOscuro);
    margin-bottom: 10px;
}

.blog .contenedor-blog article .contenedor .cuerpo .mensaje {
    margin-bottom: 20px;
}

.blog .contenedor-blog article .contenedor .cuerpo .mensaje p::before {
    content: '"';
    font-size: 20px;
}
.blog .contenedor-blog article .contenedor .cuerpo .mensaje p::after{
    content: '"';
    font-size: 20px;
}
.blog .contenedor-blog article .contenedor .cuerpo .autor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.blog .contenedor-blog article .contenedor .cuerpo .autor .imagen {
    width: 30%;
}

.blog .contenedor-blog article .contenedor .cuerpo .autor .imagen img {
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.blog .contenedor-blog article .contenedor .cuerpo .autor .info {
    width: 70%;
    margin-top: 20px;
    margin-left: 10px;
}

.blog .contenedor-blog article .contenedor .cuerpo .autor .info .nombre{
    color: var(--azulOscuro);
}

.blog .contenedor-blog article .contenedor .cuerpo .autor .info .fecha {
    color: #3d3d3d;
    font-size: 15px;
}

/* --- --- --- BLOG --- --- --- */


/* --- --- --- MEDIA QUERIES --- --- --- */

@media (max-width: 952px) {
    .jumbotron {
        height: auto;
        background-size: cover;
        background-position-x: 70%;
    }


   .jumbotron .contenedor .menu-superior,
   .jumbotron .contenedor .menu-superior a{
       font-size: 16px;
   }
   .jumbotron .contenedor .menu-superior {
       margin-bottom: 80px;
   }

   .jumbotron .contenedor .menu-superior .logo {
       width: 65px;
   }


   .jumbotron .contenedor .producto-principal .texto-producto h1 {
       font-size: 40px;
       margin-bottom: 5px;
   }

   .jumbotron .contenedor .producto-principal .texto-producto h3 {
       font-size: 20px;
       margin-bottom: 10px;
   }

   .jumbotron .contenedor .producto-principal .texto-producto p {
       font-size: 18px;
   }




   .jumbotron .contenedor .producto-principal .imagen-producto {
       background-size: 65%;
       background-position:center;
   }

   .jumbotron .contenedor .producto-principal .imagen-producto img{
        width: 110%;
        margin: auto;
   }


   section.catalogo h2{
       margin-top:0;
   }
   .enlaces-catalogo {
       display: grid;
       gap: 20px;
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows:auto, auto;
   }

   .enlaces-catalogo .producto {
       width: 30%;
   }


   .blog .contenedor-blog article {
       width: 31%;
   }
}


@media (max-width: 780px) {
    body {
        width: 100%;
    }

    .jumbotron .contenedor {
        padding: 20px 25px;
    }
    .jumbotron .contenedor .menu-superior .navegacion-hamburguesa .burger{
        display: block;
        text-align: center;
        font-size: 30px;
        margin-left: 20px;
    }

    .jumbotron .contenedor .menu-superior .navegacion-hamburguesa .enlaces {
        display: none;
    }
    .jumbotron .contenedor .menu-superior .navegacion-hamburguesa .enlaces li,
    .jumbotron .contenedor .menu-superior .fijos ul li {
        margin: 0;
    }
    .jumbotron .contenedor .menu-superior .fijos ul li {
        margin-right: 10px;
    }

    
    
    .jumbotron .contenedor .producto-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    
    .jumbotron .contenedor .producto-principal .texto-producto,
    .jumbotron .contenedor .producto-principal .texto-producto button, 
    .jumbotron .contenedor .producto-principal .imagen-producto {
        width: 100%;
    }
    
    
    
    .jumbotron .contenedor .producto-principal .texto-producto h1 {
        margin-bottom: 20px;
    }
    
    .jumbotron .contenedor .producto-principal .texto-producto h3 {
        margin-bottom: 15px;
    }
    
    .jumbotron .contenedor .producto-principal .texto-producto p {
        margin-bottom: 20px;
    }

    .jumbotron .contenedor .producto-principal .texto-producto button {
        margin-bottom: 20px;
    }



    .enlaces-catalogo .producto {
        width: 100%;
    }

    .blog .contenedor-blog {
        flex-direction: column;
    }

    .blog .contenedor-blog article {
        width: 100%;
        margin-bottom: 20px;
    }
    
}




/* --- --- --- MEDIA QUERIES --- --- --- */


